@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 30deg;
  inherits: false;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: 
    url('overcloud.png'),
    linear-gradient(var(--gradient-angle), rgba(155, 42, 151, 1) 0%, rgba(217, 65, 154, 1) 27%, rgba(250, 120, 120, 1) 54%, rgba(255, 176, 97, 1) 83%, rgba(237, 196, 83, 1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: fixed, fixed;
  animation: rotateAngle 40s linear infinite;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

@keyframes rotateAngle {
  from { --gradient-angle: 0deg; }
  to { --gradient-angle: 360deg; }
}

img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

h1 {
  color: blue;
}

p {
  color: rgb(149, 53, 158);
}

div {
  color: black;
  font-size: 30px;
  font-family: "Lucida Console", monospace;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  background-color: rgba(255, 255, 255, 0.574);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Lucida Console", monospace;
  padding: 8px 16px;
  border-radius: 32px;
  text-decoration: none;
  margin-bottom: 20px;
}

a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  text-decoration: underline;
}

@media (max-width: 600px) {
  a {
    font-size: 16px;
  }
  div {
    font-size: 24px;
  }
}
