@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 30deg;
  inherits: false;
}

body {
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background: 
    url('overcloud.png'),
    linear-gradient(var(--gradient-angle), rgba(155, 42, 151, 1) 0%, rgba(217, 65, 154, 1) 27%, rgba(250, 120, 120, 1) 54%, rgba(255, 176, 97, 1) 83%, rgba(237, 196, 83, 1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: fixed, fixed;
  animation: rotateAngle 10s linear infinite;
}

@keyframes rotateAngle {
  from {
    --gradient-angle: 0deg;
  }
  to {
    --gradient-angle: 360deg;
  }
}

h1 {
  color: blue;
}


div {
  color: black;
  font-size: 30px;
  font-family: "Lucida Console", monospace;
}

a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Lucida Console", monospace;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}